* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
ul,li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #fff;
}
header {
  background-color: #031938;
  padding: 15px 0px;
}
.container {
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
  padding:0px 20px;
}
nav {
  width: 250px;
}
.navList {
  display: flex;
  justify-content: space-between;
}
input {
  width: 250px;
  padding: 10px;
  border: 2px solid #c6c9ca;
  border-radius: 5px;
  background-color: #f7f7f7;
}
.loginSection {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}